.site-index
	width: 100%

	.title_img
		position: relative
		background-image: url("/images/slider1.jpg")
		background-repeat: no-repeat
		background-size: 100% auto
		min-height: 500px
		margin: 0 auto
		z-index: -1

		text-align: center
		color: $color_white
		text-transform: uppercase

		.title__name
			padding-top: 15%
			font-weight: bold


		.title__discr
			padding-top: 5%
			padding-bottom: 20%
			font-weight: bold


	.info-block
		.info-block-title
			text-align: center
			padding: 3% 10%
			h2
				font-weight: bold
			span
				text-transform: none
				font-weight: bold
				font-size: 1.125em


		span
			text-transform: uppercase

		.club-mission
			display: flex
			border: 2px solid rgb(207, 207, 207)
			min-height: 110px

			.club-mission__img
				display: block
				width: 120px
				padding: 5px
				background: url("/images/icon1.png") no-repeat center center

			.club-mission__discr
				display: flex
				padding-top: 15px
				justify-self: center
				align-content: center

				font-weight: bold
				color: #265026


		.choose-our-club
			p
				padding-top: 40px
				padding-bottom: 20px
				font-weight: bold
				span
					text-transform: uppercase

			li
				list-style: none
				background: url("/images/icon2.png") no-repeat 0 -3px
				padding-left: 40px
				padding-bottom: 30px


		.info-menu
			margin: 3% auto
			text-align: center


			.info-menu__btn1
				color: white
				background-color: $color_button
				width: 30%
				font-weight: bold
				//margin-right: 4%


			.info-menu__btn2
				color: $color_button
				width: 30%
				font-weight: bold
				margin-left: 4%
				margin-right: 4%

	.animals
		background-color: $color_animals

		.animals-gallery__title
			padding-top: 3%
			text-align: center
			margin: 0 auto 3%

			h2
				color: $color_white
				text-transform: uppercase
				font-weight: bold

		.animals-gallery
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			align-items: center

			.animals-gallery-item
				margin: 0 2% 8%
				text-align: center

			.gallery-item__img
				margin-bottom: 2%

			.gallery-item__description
				text-transform: uppercase
				font-weight: bold
				font-size: 1.25em
				color: white
