// блок размеров
$height_header:		50px
$height_footer:		60px
$width_left_menu:	200px
$width_content:		1100px

// блок цветности
$color_header:		#f9bb48
//$color_header:		#222D32
$color_footer:		black
$color_collapse:	#333333
$color_animals:		#265026
$color_white:		white
$color_black:		black